<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EventHorizon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EventHorizon.Properties.Settings>
            <setting name="StrategicMusicPath" serializeAs="String">
                <value>Strategic</value>
            </setting>
            <setting name="BattleFavorableMusicPath" serializeAs="String">
                <value>BattleFavorable</value>
            </setting>
            <setting name="BattleEqualMusicPath" serializeAs="String">
                <value>BattleEqual</value>
            </setting>
            <setting name="BattleUnfavorableMusicPath" serializeAs="String">
                <value>BattleUnfavorable</value>
            </setting>
            <setting name="BattleEndVictoryMusicPath" serializeAs="String">
                <value>BattleEndVictory</value>
            </setting>
            <setting name="BattleEndStalemateMusicPath" serializeAs="String">
                <value>BattleEndStalemate</value>
            </setting>
            <setting name="BattleEndDefeatMusicPath" serializeAs="String">
                <value>BattleEndDefeat</value>
            </setting>
            <setting name="MusicFadeSeconds" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BattleFavorableThreshold" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="BattleUnfavorableThreshold" serializeAs="String">
                <value>50</value>
            </setting>
        </EventHorizon.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
